.navLogo {
  padding: 18px 25px;
  background-color: #fff;
  width: 7rem;
  position: absolute;
  top: 0;
  left: 10rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
    object-fit: cover;
  }
}
