@import "./menu";
@import "./member";
@import "./logo";
@import "./memberLogin";
@import "./memberCart";

.navbar {
  width: 100vw;
  padding: 1.5rem 2rem 0 2rem;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
